<header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

<div class="container">
	<div class="row row-header">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
			<h2>Elena Zelenskaya</h2>
			<h3>Software Engineer</h3>
			<p style="padding:5px;"></p>
			<h4><address>
			 <i class="fa fa-lg fa-envelope pull-left fa-fw"></i> <span style="display:inline-block;">Castro Valley, CA 94546</span><br>
			  <i class="fa fa-lg fa-phone pull-left fa-fw"></i> 510 674-5355<br>
			   <!-- <i class="fa fa-lg fa-skype pull-left fa-fw"></i> panaska24<br> -->
			  <i class="fa fa-lg pull-left fa-laptop fa-fw"></i>
				<a href="mailto:elena.a.zelenskaya@gmail.com">elena.a.zelenskaya@gmail.com</a><br />
			  <i class="fa fa-lg pull-left fa-linkedin fa-fw"></i>
				<a href="https://www.linkedin.com/in/elena-zelenskaya-37a3ab149/">My LinkedIn</a><br />
				<i class="fa fa-lg pull-left fa-github fa-fw"></i> <a href="https://github.com/elena-zelenskaya">My GitHub</a>
			 </address></h4>
		</div>
		<!-- <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
			 <img src="../images/my_photo.jpg" class="img-responsive img-circle">
			 <img src="../images/my_photo1.jpg" class="img-responsive img-circle">
			 <img src="../images/my_photo2.jpg" class="img-responsive img-circle">
		</div>-->
		<!--  <div class="col-xs-12 col-sm-4 col-lg-3">
			<a ui-sref="app.portfolio" type="button" class="btn long-button btn-block"><span>PORTFOLIO</span></a>
		</div> -->
	</div>
</div>
	</header>
