<div class="container main" ng-controller="MainController">
            <div class="row row-content">

       <div class="col-xs-6">       <h1>Resume</h1>
	   </div>
	   <div class="col-xs-6"><p style="font-size:1.7em;margin-top:1.3em;"><!-- Download:  -->  <a title="download resume.pdf" href="resume_elena_zelenskaya_software_developer.pdf" download><i class="fa fa-lg fa-file-pdf-o fa-pull-right"></i></a><a title="download resume.docx" href="resume_elena_zelenskaya_software_developer.docx" download><i style="margin: 0 0.3em" class="fa fa-lg fa-file-word-o fa-pull-right"></i></a></p> </div>
	<div class="col-xs-12"> <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


  <div class="panel panel-default">
    <div class="color_3" role="tab" id="headingOne">		<h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       <i class="fa fa-lg fa-caret-right pull-left"></i>
          Career Objective
      </h4>
    </div>

		<div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
  <div class="well">
  <p class="important_things">Software Engineer with a&nbsp;strong technical skill-set, attention to&nbsp;detail and a&nbsp;few years of&nbsp;hands-on experience looking for a&nbsp;challenging and motivating job in&nbsp;San&nbsp;Francisco Bay Area.</p>
  </div>
</div>
</div>
		</div>

		<div class="panel panel-default">
    <div class="color_3" role="tab" id="headin3">		<h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
   <i class="fa fa-lg fa-caret-right pull-left"></i>
         Work Experience
      </h4>
    </div>

		<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
      <div class="panel-body">
  <div class="well">

  <div class="work_block">
    <span class="job_name">Senior Front End developer</span>
	<p class="grey_info">Mobile Electronic Education, Ltd. (<a target="_blank" href="http://www.mob-edu.ru">www.mob-edu.ru</a>) &ndash; Moscow, Russia<br>
April 2015 to August 2017</p>
<ul>
<li>Developing online training courses for schoolchildren (transforming Word scenarios into web pages using HTML, CSS and JavaScript).</li>
<li>Testing courses functionality within system. </li>
<li>Error handling, updating and improvement of ready-made courses.</li>
<li>Writing CSS and JS for individual complex objects: Interactive drawings, coloring and maps (SVG), interactive schemes and tables, formulas, other embedded objects.</li>
<li>Mentoring outsourced Web Content Developers: setting tasks, explaining the guidelines, checking their code for compliance with company standards.</li>
</ul>
</div>

<div class="work_block">
<span class="job_name">Web developer</span>
<p class="grey_info">Laboratory of electronic textbooks (<a target="_blank" href="http://www.etb-lab.com">www.etb-lab.com</a>) &ndash; Moscow, Russia<br>
September 2014 to October 2014</p>

<ul>
<li>Creating electronic textbooks for school tablets.</li>
<li>Testing electronic textbooks and making corrections.</li>
</ul>

<p>Duration 2 months on contract base.</p>

</div>

<div class="work_block">
<span class="job_name">Web developer</span>
<p class="grey_info">Teleschool Non-Profit Partnership (<a target="_blank" href="http://www.internet-school.ru">www.internet-school.ru</a>) &ndash; Moscow, Russia<br>
October 2012 to August 2014</p>

<ul>
<li>Making up training courses for schoolchildren using company CMS.</li>
<li>Making corrections and improvements to the finished courses.</li>
<li>Processing and editing images and flash objects (Adobe Photoshop, Adobe Flash).</li>

</ul>
</div>

<div class="work_block">
<span class="job_name">Site Manager, Developer and Content Editor</span>
<p class="grey_info">Univer-Press Publishing House(<a target="_blank" href="http://www.edunews.ru">www.edunews.ru</a>) &ndash; Moscow, Russia<br>
March 2008 to September 2012</p>
<p>Working with the sites <a target="_blank" href="http://www.edunews.ru">www.edunews.ru</a> and <a target="_blank" href="http://www.collegenews.ru">www.collegenews.ru</a>:</p>
<ul>
<li>Maintaining the sites functionality.</li>
<li>Improving structure and design, making corrections to existing pages of the&nbsp;sites.</li>
<li>Creating new pages for the sites.</li>
<li>Updating the database (mySQL via phpMyAdmin).</li>
<li>Daily update and adding information to the sites.</li>
</ul>

</div>

<div class="work_block">
<span class="job_name">Editor</span>
<p class="grey_info">Univer-Press Publishing House (<a target="_blank" href="http://www.edunews.ru">www.edunews.ru</a>) &ndash; Moscow, Russia<br>
January 2004 to March 2008
</p>
<ul>
<li>Editing printed versions of educational editions (books, magazines) using Corel Ventura.</li>
<li>Editing and proofreading educational reference books.</li>
</ul>
  </div>
  </div>
</div>
</div>
		</div>

		<div class="panel panel-default">
    <div class="color_3" role="tab" id="heading2">		<h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
       <i class="fa fa-lg fa-caret-right pull-ljavascript:;eft"></i>
          Education
      </h4>
    </div>

		<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
      <div class="panel-body">
  <div class="well">
  <div class="work_block">
  <span class="job_name">3.5-year program in Mechanics and Mathematics</span><br>
<p class="grey_info">Lomonosov Moscow State University &ndash; Moscow, Russia<br>
September 1998 to December 2001</p>



</div>
<!-- <div class="work_block">	 -->
	<!-- <li>Moscow State University of Economics, Statistics and Informatics<br> -->
	<!-- Major &mdash; finance and credit, specialization in banking<br> -->
	<!-- 2004 &mdash; 2007, Degree in Economics -->
	<!-- </li> -->
<!-- </div>	 -->
<div class="work_block">
<span class="job_name">Training course 'HTML and CSS. Creation of sites on W3S standards and transition to HTML5 and CSS3'</span><br>
    <p class="grey_info">Bauman Technical University, the Computer Training Center Specialist &ndash; Moscow, Russia
	<br>
	2011, Certificate of Completion
	</p>
  </div>


<div class="work_block">
<span class="job_name">Training course 'HTML and CSS. Cross-browser Compatibility and Usability'</span><br>
	 <p class="grey_info">Bauman Technical University, the Computer Training Center Specialist &ndash; Moscow, Russia
	<br>
	2012, Certificate of Completion
	</p>
</div>


  </div>
</div>
</div>
		</div>



		<div class="panel panel-default">
    <div class="color_3" role="tab" id="heading4"><h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
      <i class="fa fa-lg fa-caret-right pull-left"></i>
          Skills
      </h4>
    </div>

		<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="panel-body">
  <div class="well">

   <div class="work_block">
   <span class="job_name">Front End:</span> <span class="important_things">HTML5, CSS3, JavaScript, React, jQuery, Angular, Bootstrap</span></div>
   <div class="work_block">
   <span class="job_name">Back End:</span> <span class="important_things">Java, MySQL (via phpMyAdmin)</span>
   </div>
   <div class="work_block">
   <span class="job_name">Web Tools:</span> <span class="important_things">Git, npm, Grunt, Gulp, Bower, Babel, Redmine, Adobe Photoshop, Inkscape, MathType, FTP clients </span>
   </div>
   <div class="work_block">
   <span class="job_name">Content Management Systems:</span> <span class="important_things">WordPress, Joomla</span>
   </div>

  </div>
</div>
</div>
		</div>


		<div class="panel panel-default">
    <div class="color_3" role="tab" id="heading5"><h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
      <i class="fa fa-lg fa-caret-right pull-left"></i>
          Additional Information
      </h4>
    </div>

		<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
      <div class="panel-body">
  <div class="well">
   <div class="work_block">
   <span class="job_name">Languages:</span> <span class="important_things">Russian &ndash; native, English &ndash; fluent</span>
   </div>




<div class="work_block">

<p class="important_things">Authorized to work in the US for any employer (Green Card holder).</p>
  </div>
  </div>
</div>
</div>
		</div>





		</div>

           </div>
           </div>
           </div>
