
    <div class="container col-sm-offset-5" style="padding:2px 0 0 20px;">
<div class="col-xs-1" style="padding:0;"><div class="navbar triangle pull-right" style="width:52px;height:52px;"></div></div> 
<nav class="navbar col-xs-11 col-sm-6" role="navigation">
       
            <div id="navbar">
                <ul class="nav navbar-nav pull-right">
                    <li><a ui-sref="app">
                        <!-- <span class="glyphicon glyphicon-home" -->
                         <!-- aria-hidden="true"></span>  -->
						 Resume</a></li>
                    <li><a ui-sref="app.portfolio">
                         <!-- <span class="glyphicon glyphicon-list-alt" -->
                         <!-- aria-hidden="true"></span> -->
                          Portfolio</a></li>
					<li><a ui-sref="app.aboutme">
                        <!-- <span class="glyphicon glyphicon-info-sign" -->
                         <!-- aria-hidden="true"></span> -->
						 About me</a></li>
                    
                     <!-- <li><a ui-sref="app.contactus"> -->
                     <!-- <i class="fa fa-envelope-o"></i> Contact</a></li> -->
                </ul>
            </div>
       
    </nav>
	

 </div>