
.color_paint {
	display:inline-block;
	width:2em;
	height: 1em;
	cursor:pointer;
	border-radius:0.5em; 
	-webkit-border-radius:0.5em; 
	-moz-border-radius:0.5em; 
	-khtml-border-radius:0.5em;
	margin: 0 0.5em 0 0;
}

.delete_color {
	width: 4.5em;
	height: 1.4em;
	text-align:center;
	margin-top: -0.3em!important;
}

.colors_for_painting {
	display:grid;
	grid-template-columns: 40px 40px 40px 40px 40px 40px 60px 90px; 
  /* grid-template-rows: repeat(auto-fit, 1fr); */
 /*  grid-template-rows: 25vw 25vw 25vw 25vw;  */ 
 grid-template-rows: 16px 46px; 
	 /* width: 100%;
  height: 100%; */
 
  grid-gap: 1rem;
}

.colors_for_painting p {margin:0 0 3px 0!important;}

.object_for_painting {
	display:inline-block;
	height:0;
	padding-top: 70%; /*Значение по умолчанию*/
    position: relative;
}

svg.painter{
	cursor: pointer;
	position: absolute;
    left: 0;
	top:0;
}

.choosedColor{
	box-shadow: 0 0 10px black;
}