

<div class="row" ng-controller="ExampleController">
		<div class="main">	
	<!-- Интерактивная таблица-->
	<div class="interaktiv ruka">						
			<div class="interaktiv_header ruka">
				<h4>Prepositions of time</h4>
			</div>
		<p>Read the&nbsp;rules. Remember them.</p>
			<div class="interakt_zadanie">				
				<div class="spoiler_shem">
					<div class="shema_1">
						<label class="btn_sh" for="spoiler6th">Prepositions of time</label>
					</div>
				<input type="checkbox" id="spoiler6th"/>
					<div class="text1 pullDown">

						<div class="table_sh">
	<div class="row_sh">
	<div class="cell_sh" >
	<div class="shema_2">		
<label class="btn_sh" for="spoiler1th">We use <span class="bold">ON</span> with:</label>
	</div>		
</div>

<div class="cell_sh" >
	<div class="shema_2">
	<label class="btn_sh" for="spoiler2th">We use <span class="bold">IN</span> with:</label>
	</div>		
</div>

<div class="cell_sh" >
	<div class="shema_2">
	<label class="btn_sh" for="spoiler3th">We use <span class="bold">AT</span> with:</label>
	</div>		
</div>

<div class="cell_sh" >
	<div class="shema_2">
	<label class="btn_sh" for="spoiler4th">No preposition:</label>
	</div>		
</div>
</div>

<div class="row_sh" >
	 <div class="cell_sh_mod">
	<input type="checkbox" id="spoiler1th"/>
<div class="text1 pullDown light_color">
	 <div class="row_sh">	
	<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>on</span>&nbsp;Friday')" onMouseOut="toolTip()">days<span id="floatTip"></span>
	</div>
	</div>
	
 <div class="row_sh">
	<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>on</span>&nbsp;Monday afternoon, <span class=\'bold\'>on</span>&nbsp;Sunday evenings')" onMouseOut="toolTip()">days + parts of&nbsp;days<span id="floatTip"></span>
	</div>
</div>	

 <div class="row_sh">
<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>on</span>&nbsp;my birthday, <span class=\'bold\'>on</span>&nbsp;New Year’s Eve')" onMouseOut="toolTip()">special days<span id="floatTip"></span>
	</div>
</div>

 <div class="row_sh">
<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>on</span>&nbsp;the&nbsp;16<sup>th</sup> of&nbsp;December')" onMouseOut="toolTip()">dates<span id="floatTip"></span>
	</div>
</div>
</div>
</div>


 <div class="cell_sh_mod">
	<input type="checkbox" id="spoiler2th"/>

<div class="text1 pullDown light_color">
	 <div class="row_sh">
<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>in</span>&nbsp;July')" onMouseOut="toolTip()">months<span id="floatTip"></span>
	</div>
</div>
	
 <div class="row_sh">
<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>in</span>&nbsp;1785')" onMouseOut="toolTip()">years<span id="floatTip"></span>
	</div>
</div>

  <div class="row_sh">
<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>in</span>&nbsp;the&nbsp;19<sup>th</sup> century')" onMouseOut="toolTip()">centuries<span id="floatTip"></span>
	</div>
</div>

  <div class="row_sh">
<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>in</span>&nbsp;winter')" onMouseOut="toolTip()">seasons<span id="floatTip"></span>
	</div>
</div>

 <div class="row_sh">
<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>in</span>&nbsp;the&nbsp;morning')" onMouseOut="toolTip()">times of&nbsp;day<span id="floatTip"></span>
	</div>
</div>

 <div class="row_sh">
<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>in</span>&nbsp;the&nbsp;holidays, <span class=\'bold\'>in</span>&nbsp;the&nbsp;1800s')" onMouseOut="toolTip()">lengths of&nbsp;time<span id="floatTip"></span>
	</div>
</div>
</div>
</div>
												
							
	 <div class="cell_sh_mod">
	<input type="checkbox" id="spoiler3th"/>

<div class="text1 pullDown light_color">
	  <div class="row_sh">
<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>at</span>&nbsp;7&nbsp;o’clock')" onMouseOut="toolTip()">time<span id="floatTip"></span>
	</div>
</div>
	
  <div class="row_sh">
<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>at</span>&nbsp;Christmas, <span class=\'bold\'>at</span>&nbsp;Easter')" onMouseOut="toolTip()">holiday periods<span id="floatTip"></span>
	</div>
</div>

  <div class="row_sh">
<div class="cell_sh ccilka" onMouseOver="toolTip ('<span class=\'bold\'>at</span>&nbsp;night, <span class=\'bold\'>at</span>&nbsp;the&nbsp;weekend, <span class=\'bold\'>at</span>&nbsp;lunchtime')" onMouseOut="toolTip()">exceptions<span id="floatTip"></span>
	</div>
</div>
</div>
</div>						
					

 <div class="cell_sh_mod">
	<input type="checkbox" id="spoiler4th"/>

<div class="text1 pullDown light_color">
	 <div class="row_sh">
<div class="cell_sh">next week, month, etc</div>
</div>
	
 <div class="row_sh">
<div class="cell_sh">last night, year, etc</div>
</div>

<div class="row_sh">
<div class="cell_sh">this morning, etc</div>
</div>

 <div class="row_sh">
<div class="cell_sh">every day, night, etc</div>
</div>

 <div class="row_sh">
<div class="cell_sh">today, tomorrow, yesterday</div>
</div>
</div>
</div>					
							
							</div>
						</div>

					</div>
				</div>
			</div>	
	</div>

<!-- Конец: Интерактивная таблица-->		
</div>
</div>